<ion-content class="lavender-content patient-details-screen">
  <div class="container app-container">

    <app-global-header>
      <div gh-left>
        <ion-buttons>
          <ion-button class="back-btn" fill="clear" (click)="onBackTapped()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div gh-center>
        <div class="app-header__body">
          <h1 class="app-header__title">ALALA</h1>
        </div>
      </div>
    </app-global-header>
    
    <div class="header-section">
      <h1>Patient Details</h1>
      <p>Please provide information about the patient</p>
    </div>

    
    <div class="form-section">
      
      <div class="form-group">
        <label for="patientFirstName">First Name</label>
        <ion-item class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input
            id="patientFirstName"
            [(ngModel)]="patientFirstName"
            placeholder="Enter patient's first name"
            type="text"
            clearInput
          ></ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <label for="patientLastName">Last Name</label>
        <ion-item class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input
            id="patientLastName"
            [(ngModel)]="patientLastName"
            placeholder="Enter patient's last name"
            type="text"
            clearInput
          ></ion-input>
        </ion-item>
      </div>

      
      <div class="form-group">
        <label for="patientBirthday">Birthday</label>
        <ion-item class="input-item">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-datetime-button datetime="patientBirthdayPicker"></ion-datetime-button>
        </ion-item>
      </div>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="patientBirthdayPicker"
            presentation="date"
            [(ngModel)]="patientBirthday"
            preferWheel="false"
            showDefaultButtons="true">
          </ion-datetime>
        </ng-template>
      </ion-modal>

      
      <div class="form-group">
        <label for="patientSex">Sex</label>
        <ion-segment class="app-segment" [(ngModel)]="patientSex">
          <ion-segment-button value="Male"><ion-label>Male</ion-label></ion-segment-button>
          <ion-segment-button value="Female"><ion-label>Female</ion-label></ion-segment-button>
          <ion-segment-button value="Other"><ion-label>Other</ion-label></ion-segment-button>
        </ion-segment>
      </div>
    </div>

    
    <div class="button-section">
      <ion-button
        expand="block"
        class="save-button"
        (click)="savePatientDetails()"
        [disabled]="isLoading"
      >
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">SAVE & CONTINUE</span>
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        class="back-button"
        (click)="goBack()"
        [disabled]="isLoading"
      >
        BACK
      </ion-button>
    </div>
  </div>
</ion-content>

